<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Aluno</title>
</head>
<body>

    <h1>Cadastro ALuno</h1>

    <form method= "POST" action="/home" >

        <label for="">Nome</label>
        <div></div>
        <input type="text" placeholder="Nome">
        <br></br>
        
        <label for="text">Curso</label>
        <div></div>
        <input type="text" placeholder="Curso">
        <br></br>
        
        <label for="Apelido">Nota 1</label>
        <div></div>
        <input type="text" placeholder="Digite a Primeira nota">
        <br></br>
        
        <label for="text">Nota 2</label>
        <div></div>
        <input type="text" placeholder="Digite a Segunda Nota">
        <br></br>

        <label for="text">Nota 3</label>
        <div></div>
        <input type="text" placeholder="Digite a Terceira Nota">
        <br></br>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</body>
</html>